.infosect {
    padding: 100px 0 60px;

    h3 {
        margin: 0;
        max-width: 555px;
    }

    .infosect__descr {
        max-width: 620px;

        p {
            font-size: 21px;
            line-height: 150%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.abusmission.abusmission__serv {
    padding-bottom: 240px;
}

.lfit {
    background: #1B1B1B;
    padding: 65px 0;

    h3 {
        color: #fff;
        margin-bottom: 40px;
    }

    .lfit__left {
        position: relative;
        height: 100%;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }

    .lfit__right {
        padding-left: 14%;
    }
}

.whyus .textwrapp {
    .blue-btn {
        margin-top: 50px;
    }
}

.whyus.whyus_service {
    padding-top: 213px;
}

.lfit .lfit__left img {
    max-width: 100%;
}

// ------
.howitworks {
    padding: 100px 0 173px;

    h3 {
        margin-bottom: 100px;
    }

    .howitworkbox {
        display: flex;
        position: relative;
        margin-bottom: 10px;

        &::after {
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url('../img/triagle-blue.svg') no-repeat top center / 100% 100%;
            position: absolute;
            right: -6px;
            bottom: -5px;
        }

        .howitworkbox__left {
            width: 100%;
            max-width: 36%;
            flex: 0 0 36%;
            position: relative;

            img {
                max-width: 100%;
                position: relative;
                z-index: 2;
            }

            span {
                font-weight: 500;
                font-size: 97px;
                line-height: 147%;
                -webkit-text-stroke: 1px #2B7CFF;
                color: transparent;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .howitworkbox__right {
            width: 100%;
            max-width: 64%;
            flex: 0 0 64%;
            padding-top: 90px;
            position: relative;
            padding-right: 30px;
            padding-bottom: 60px;
            padding-left: 20px;

            .title {
                margin-bottom: 15px;
                color: #222;
                font-weight: 500;
                font-size: 30px;
                line-height: 132%;
            }

            .descr {
                margin-bottom: 0;
                font-size: 17px;
                line-height: 150%;
            }

            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 100%;
                background: #2B7CFF;
                position: absolute;
                left: 0;
                top: 60px;
            }

            &::before {
                content: '';
                display: block;
                width: 2px;
                top: 60px;
                height: calc(100% - 60px);
                background: #2B7CFF;
                position: absolute;
                right: 0;
            }
        }
    }

    .col-xl-6.offset-xl-6 {
        .howitworkbox {
            flex-direction: row-reverse;

            &::after {
                right: initial;
                left: -6px;
            }

            .howitworkbox__left {
                text-align: right;

                span {
                    right: initial;
                    left: 0;
                }
            }

            .howitworkbox__right {
                padding-right: 0;
                padding-left: 30px;
                padding-right: 5px;

                &::before {
                    right: initial;
                    left: 0;
                }
            }
        }
    }

}

.howitworks {
    .row .col-xl-6:nth-child(4) {
        .howitworkbox__left img {
            margin-right: -30px;
        }
    }
}

// -----------------
.servtextpic {
    padding: 115px 0 40px;

    h3 {
        margin-bottom: 70px;
    }

    .servtextpic__left {
        padding-left: 80px;

        p {
            max-width: 575px;
            font-weight: 400;
            font-size: 21px;
            line-height: 150%;
            color: #424242;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .servtextpic__right {
        text-align: center;
    }
}

.servpromodelwhyus {
    padding: 100px 0 203px;

    h3 {
        margin-bottom: 130px;
    }

    .servpromodelwhyus__box {
        text-align: center;
        max-width: 340px;
        margin: 0 auto;

        .picwrap {
            margin: 0 auto 60px;
            width: 180px;
            height: 170px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .descr {
            p {
                font-weight: 400;
                font-size: 19px;
                line-height: 132%;
                color: #222;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .blue-btn.white {
        margin-top: 75px;
        max-width: 318px;
        width: 100%;
    }
}

.outservices.servpage {
    padding: 193px 0 100px;
}

.servtextpic .servtextpic__right img {
    max-width: 100%;
}

.whyus.whyus_service.littpadd {
    padding-top: 60px;
}

















@media(max-width:1399.8px) {
    .infosect {
        padding: 70px 0 60px;
    }

    .abusmission.abusmission__serv {
        padding-bottom: 170px;
    }

    .whyus.whyus_service {
        padding-top: 150px;
    }

    .howitworks {
        padding: 70px 0 150px 0;
    }

    .howitworks .howitworkbox .howitworkbox__right {
        padding-bottom: 30px;
    }

    .howitworks .howitworkbox .howitworkbox__left span {
        font-size: 67px;
        top: 10px;
    }

    .howitworks .howitworkbox .howitworkbox__left img {
        max-width: 60%;
    }

    .servtextpic {
        padding: 70px 0 30px;
    }

    .servtextpic .servtextpic__left p {
        font-size: 18px;
    }

    .servtextpic .servtextpic__right img {
        max-width: 350px;
    }

    .servtextpic h3 {
        margin-bottom: 40px;
    }

    .servpromodelwhyus {
        padding: 70px 0 150px;
    }

    .servpromodelwhyus .blue-btn.white {
        max-width: 260px;
    }

    .outservices.servpage {
        padding: 140px 0 60px;
    }

}

@media(max-width:1199.8px) {

    .howitworks .howitworkbox:after {
        width: 14px;
        height: 14px;
    }

    .howitworks .howitworkbox .howitworkbox__left span {
        font-size: 90px;
    }








}

@media(max-width:991.8px) {
    .infosect {
        padding-bottom: 30px;
    }

    .infosect h3 {
        margin-bottom: 20px;
    }

    .lfit {
        padding: 50px 0;

        .lfit__left img {
            position: relative;
            top: inherit;
            transform: none;
        }
    }

    .abusmission.abusmission__serv {
        padding-bottom: 70px;
    }

    .whyus.whyus_service {
        padding-top: 70px;
    }

    .whyus .textwrapp .blue-btn {
        margin-top: 20px;
    }

    .howitworks {
        padding-bottom: 70px;
    }

    .howitworks h3 {
        margin-bottom: 60px;
    }

    .infosect .infosect__descr p {
        font-size: 18px;
    }

    .howitworks .howitworkbox .howitworkbox__right .title {
        font-size: 21px;
    }

    .howitworks .howitworkbox .howitworkbox__right .descr {
        font-size: 16px;
    }

    .servtextpic .servtextpic__left p {
        max-width: 100%;
    }

    .servtextpic .servtextpic__left {
        padding-left: 0;
    }

    .servtextpic h3 {
        margin-bottom: 20px;
    }

    .servtextpic .servtextpic__left {
        margin-bottom: 30px;
        text-align: center;
    }

    .servpromodelwhyus {
        padding: 50px 0 70px;
    }

    .servpromodelwhyus .servpromodelwhyus__box .descr p {
        font-size: 16px;
    }

    .servpromodelwhyus .servpromodelwhyus__box .picwrap {
        width: 130px;
        height: 120px;
        margin-bottom: 20px;
    }

    .servpromodelwhyus h3 {
        margin-bottom: 60px;
    }

    .servpromodelwhyus .blue-btn.white {
        max-width: 216px;
        margin-top: 50px;
    }

    .outservices.servpage {
        padding: 70px 0 60px;
    }

    .trustedus__wrapp .trustedus__col {
        margin-bottom: 30px;
    }


}

@media(max-width:767.8px) {
    .lfit .lfit__right {
        padding-left: 0;
    }

    .lfit h3 {
        margin-bottom: 20px;
    }

    .howitworks .howitworkbox .howitworkbox__left img {
        max-width: 100%;
    }

    .howitworks .col-xl-6 .howitworkbox .howitworkbox__left span {
        z-index: 3;
        color: #fff;
        font-size: 50px;
        position: relative;
        top: 0;
    }

    .servpromodelwhyus .servpromodelwhyus__box {
        margin-bottom: 40px;
    }

    .servpromodelwhyus h3 {
        margin-bottom: 40px;
    }

    .servpromodelwhyus .blue-btn.white {
        margin-top: 20px;
    }


}

@media(max-width:575.8px) {
    .infosect {
        padding: 50px 0 30px;
    }

    .abusmission h3 {
        margin-bottom: 10px;
    }

    .lfit .lfit__left img {
        max-width: 300px;
        margin: 0 auto 30px;
        display: block;
    }

    .infosect .infosect__descr p {
        font-size: 15px;
    }

    .howitworks .howitworkbox {
        flex-wrap: wrap;
    }

    .howitworks .howitworkbox .howitworkbox__left,
    .howitworks .howitworkbox .howitworkbox__right {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .howitworks .howitworkbox .howitworkbox__left,
    .howitworks .col-xl-6.offset-xl-6 .howitworkbox .howitworkbox__left {
        text-align: center;
    }

    .howitworks .col-xl-6 .howitworkbox .howitworkbox__left span {
        display: none;
    }

    .howitworks .howitworkbox .howitworkbox__right:before,
    .howitworks .howitworkbox .howitworkbox__right:after,
    .howitworks .howitworkbox:after {
        display: none;
    }

    .howitworks .howitworkbox .howitworkbox__left img {
        max-width: 150px;
        max-height: 100px;
        margin-bottom: 15px;
    }

    .howitworks .howitworkbox .howitworkbox__right,
    .howitworks .col-xl-6.offset-xl-6 .howitworkbox .howitworkbox__right {
        padding: 0;
    }

    .howitworks .howitworkbox {
        margin-bottom: 20px;
    }

    .howitworks h3 {
        margin-bottom: 40px;
    }

    .howitworks {
        padding: 50px 0;
    }



    .howitworks .howitworkbox .howitworkbox__right .title {
        font-size: 18px;
    }

    .howitworks .howitworkbox .howitworkbox__right .descr {
        font-size: 15px;
    }

    .howitworks {
        .row .col-xl-6:nth-child(4) {
            .howitworkbox__left img {
                margin-right: 0;
            }
        }
    }

    .servtextpic {
        padding: 20px 0;
    }

    .servtextpic .servtextpic__left p {
        font-size: 15px;
    }

    .servtextpic .servtextpic__right img {
        max-width: 250px;
    }

    .servpromodelwhyus .servpromodelwhyus__box .descr p {
        font-size: 15px;
    }

    .servpromodelwhyus {
        padding: 30px 0 40px;
    }
    .outservices.servpage {
        padding-bottom: 10px;
    }

    .trustedus__wrapp .trustedus__col {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

}